* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.container-icons.right {
    right: 0;
    top: 50%;
    position: absolute;
    background: white;
    border-radius: 50px;
    padding: 1%;
}

.container-icons.left {
    position: absolute;
    left: 0;
    top: 50%;
    background: white;
    border-radius: 50px;
    padding: 1%;
}

img.image {
    width: 25%;
    height: 100%;
    border-radius: 10px;
}

.container {
    width: 100%;
    position: relative;
}
.card {
    width: 100%;
    border: 1px solid red;
    height: 200px;
    display: flex;
    gap: 10px;
    overflow: scroll;
    position: relative;
}